@font-face {
    font-family: FranklinGothic;
    src: url(./FranklinGothic.ttf);
}
@font-face {
    font-family: Jokerman;
    src: url(./Jokerman.ttf);
}
html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Cabeçalho/Barra de navegação */
#navega{
    display:flex;
    justify-content: space-around;

    background-color: #49007E;
}
#topo{
    display:flex;
    margin:0px;
    margin-right: 10px;
}
li{
    padding: 5px;
    height: 40px;
}
li > a{
    font-family: 'FranklinGothic';
    font-size: 1.3rem;
}
li > a:hover{
    transition: 0.1s;
    border-bottom: solid 2px white;
}
/* title dos cards */
.title-historias{
    width: 100%;
    background-color: #ff005B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-historias > h1 {
    margin: 30px 0px 30px 0px;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    width: 150px;
    background-color: #ff005B;
    color: white;
    border: none;
}
#login:hover{
    transition: 0.3s;
    background-color: #c50045;
}
/* Seção de cards */
.card-section{
    width: 100%;
    height: auto;
    background-color: #ff7d10;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.card-historias{
    background-color: #49007E;
}
.card-conteudo{
    width: 93%;
    height: 95%;
    background-color: white;
}
.card-imagem{
    background-image: url(./julia.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 5px;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    width: 90%;
}
#botao{
    width: 80%;
}
/* Rodape */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: #49007E;
    color: #ffffff;
}
.box-table{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
}
hr{
    width: 100%;
    padding: 1px;
}
.apresentRodape{
    display: flex;
    width: 200px;
    text-align: justify;
}
footer > div > table, tr{
    display: flex;
    flex-direction: column;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
} 
.rodFlex{
    text-decoration: none;
    display: flex;
}
.tab{
    margin-top: 50px;
}
.red-sociais{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.red-sociais > div > a{
    margin: 5px;
}
@media (max-width: 319px){
    /*  */
    .card-section{
        padding: 10px;
    }
    /* titulo */
    .title-historias > h1{
        font-size: 3rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .info > h2{
        font-size: 1.3rem;
    }
    .info{
        width: 90%;
        margin: 0px;
    }
    /* card de Historias */
    .card-text{
        width: 100%;
        height: auto;
    }
    .card-historias{
        width: 90%;
        min-height: 300px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 1px 0px 1px;;
        width: 99%;
        height: 200px;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        align-items: none;
    }
    #botao{
        padding: 1px;
        margin-bottom: 5px;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 65px;
    }
}
@media (min-width:320px) {
    /* titulo */
    .title-historias > h1{
        font-size: 3rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 250px;
        height: 450px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 1px 0px 1px;
        width: 99%;
        height: 260px;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 65px;
    }
 }
@media (min-width:480px) {
    /* titulo */
    .title-historias > h1{
        font-size: 5rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 250px;
        height: 450px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 5px 0px 5px;
        width: 99%;
        height: 70%;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 65px;
    }
  }
@media (min-width:600px) {
    /* titulo */
    .title-historias > h1{
        font-size: 7rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 300px;
        height: 500px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 5px 0px 5px;
        width: 99%;
        height: 70%;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 65px;
    }
 }
@media (min-width:801px) { 
    /* titulo */
    .title-historias > h1{
        font-size: 7rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 300px;
        height: 500px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 5px 0px 5px;
        width: 99%;
        height: 70%;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 80px;
    }
}
@media (min-width:1025px) { 
    /* titulo */
    .title-historias > h1{
        font-size: 7rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 300px;
        height: 500px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 5px 0px 5px;
        width: 99%;
        height: 70%;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 90px;
    }
}
@media (min-width:1281px) {
    /* titulo */
    .title-historias > h1{
        font-size: 7rem;
        font-family: 'Jokerman';
        color: white;
    }
    /*texto do card */
    .card-text{
        width: 100%;
        height: 40%;
    }
    .info > h2{
        font-size: 1.3rem;
    }
    /* card de Historias */
    .card-historias{
        width: 300px;
        height: 500px;
        margin: 0px 10px 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-imagem{
        margin: 1px 5px 0px 5px;
        width: 99%;
        height: 70%;
    }
    .card-conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botao{
        width: 80%;
    }
    .logo{
        margin: 10px 0px 10px 0px;
        height: 90px;
    }
 }